In [1]:
# 0 = RUNNING
# 1 = STANDING
# 2 = WALKING

In [2]:
import pandas as pd
import numpy as np
import pickle

In [3]:
# w = window_size
def window(a, w = 5, o = 1, copy = False):
    sh = (a.size - w + 1, w)
    st = a.strides * 2
    view = np.lib.stride_tricks.as_strided(a, strides = st, shape = sh)[0::o]
    if copy:
        return view.copy()
    else:
        return view

In [4]:
def preprocess(filename, label):
    df = pd.read_csv('dataset/'+filename)
    df = df.dropna(axis=0)
    #df = df.sample(frac=1, axis=0).reset_index()
    df_window = pd.DataFrame(np.concatenate((window(df.x1.to_numpy()),window(df.x2.to_numpy()),window(df.x3.to_numpy())),axis=1))
    df_window.columns = [i for i in range(len(df_window.columns))]
    df_window['label'] = label
    return df_window

In [5]:
run = preprocess('running.csv', 0)
stand = preprocess('standing.csv', 1)
walk = preprocess('walking.csv', 2)

In [6]:
run_name = ['Running_1619263170843.csv', 'Running_1619263208673.csv', 'Running_1619263255959.csv', 
            'Running_1619263296112.csv', 'Running_1619263346857.csv', 'Running_below_screen_in.csv', 
            'Running_upper_screen_out.csv', 'Running_1619259552664.csv', 'Running_1619259685377.csv']

stand_name = ['Standing_camdown_screenin_1619283201779.csv', 'Standing_camdown_screenout_1619283090690.csv',
              'Standing_camup_screenin_1619282941930.csv',  'Standing_bottomright_1619357391450.csv',
             'Standing_camup_screenout_1619282750771.csv', 'Standing_bottomleft_1619357289577.csv',
             'Standing_topleft_1619357121075.csv', 'Standing_topright_1619357008320.csv']

walk_name = ['Walking_1619262702376.csv', 'Walking_1619262774656.csv',
             'walking_below_screen_in.csv', 'walking_below_screen_out.csv', 'walking_upper_screen_in.csv',
             'walking_upper_screen_out.csv' , 'Walking_1619259294903.csv', 'Walking_1619259343121.csv',
             'Walking_1619259424085.csv', 'Walking_1619259463954.csv']

In [7]:
for i in run_name:
    f = preprocess(i, 0)
    run = pd.concat((run, f), axis=0).reset_index(drop=True)
for i in stand_name:
    f = preprocess(i, 1)
    stand = pd.concat((stand, f), axis=0).reset_index(drop=True)
for i in walk_name:
    f = preprocess(i, 2)
    walk = pd.concat((walk, f), axis=0).reset_index(drop=True)

In [8]:
print('run',len(run))
print('stand',len(stand))
print('walk',len(walk))

run 8643
stand 10251
walk 11374

In [9]:
xy = pd.concat((run, stand, walk), axis=0).reset_index(drop=True)
print(len(xy))

30268

In [10]:
x = xy.iloc[:,:-1]
y = xy.iloc[:,-1:]

In [11]:
from skmultiflow.evaluation import EvaluatePrequential
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [13]:
model = make_pipeline(StandardScaler(), SVC(kernel='rbf'))#SGDClassifier())

In [14]:
#window_size = 5
for i in range (1):
    model.fit(X_train, y_train.values.ravel())
    z = accuracy_score(y_test, model.predict(X_test))
    print(z)

0.9202730976764674

In [15]:
#save model
#fname = input()
with open('SVM_Activity_model_window5_new_all.pkl','wb') as f:
    pickle.dump(model,f)

In [27]:
#load+use model
with open('SVM_Activity_model.pkl', 'rb') as f:
    clf = pickle.load(f)

#clf.predict(XXX)

# APPENDIX

In [18]:
df = pd.read_csv('dataset/running.csv')
df

           time         x          y         z
0    2:24:18 AM -2.545114 -14.061576 -1.620924
1    2:24:18 AM  0.373507 -12.481355 -2.643279
2    2:24:18 AM  5.985687 -16.091920 -5.964138
3    2:24:18 AM  6.598621 -14.880418 -6.706364
4    2:24:18 AM  4.654470 -11.147743 -2.413429
..          ...       ...        ...       ...
395  2:24:25 AM  0.804476 -20.942722 -3.342408
396  2:24:25 AM  1.316851 -14.518883 -4.309695
397  2:24:25 AM  2.844399 -12.213196 -3.828445
398  2:24:25 AM  1.834015 -12.045596 -2.865947
399  2:24:25 AM  0.256187 -10.671283 -1.642472

[400 rows x 4 columns]

In [13]:
df.sample(frac=1, axis=0)#.reset_index()

           time         x1         x2         x3
117  2:24:20 AM  -3.423813 -19.434328  -1.441353
357  2:24:25 AM  -2.188367 -20.499780  -3.926611
22   2:24:18 AM  10.735929 -13.982565  12.258687
162  2:24:21 AM   1.929785  -7.015225   1.103761
373  2:24:25 AM  -3.878725  -2.253013   0.612934
..          ...        ...        ...        ...
180  2:24:21 AM  -8.281796  -8.387145  -0.311256
114  2:24:20 AM  -1.448536 -15.249136  -4.213923
144  2:24:20 AM   0.581809  -5.655277  -1.824437
315  2:24:24 AM  -1.604164 -19.683332  -5.190788
133  2:24:20 AM  -7.778999  -7.769422  -1.431776

[400 rows x 4 columns]

In [61]:
df.iloc[:,1].to_numpy()

array([-2.54511400e+00,  3.73506870e-01,  5.98568730e+00,  6.59862140e+00,
        4.65447040e+00,  2.51638300e+00, -5.02797700e-02, -9.40950000e-01,
       -1.83640870e+00, -1.58022140e+00, -1.83640870e+00, -3.58422950e+00,
       -3.47169850e+00, -4.87953200e+00, -5.93540700e+00, -1.02474970e+01,
       -1.43536780e+01, -9.99849100e+00, -3.47409270e+00, -3.04791200e+00,
        1.03193250e+00,  4.64249900e+00,  1.07359290e+01,  2.66482780e+00,
        1.34797670e+00,  1.17319460e+00,  8.90670240e-01,  1.69993500e-01,
       -4.88432050e-01, -7.11099600e-01, -1.05587520e+00, -2.92819800e+00,
       -4.46053400e+00, -6.76861500e+00, -8.86360550e+00, -8.57150400e+00,
       -8.65769800e+00, -8.08546600e+00, -4.03914170e+00, -5.18360500e+00,
       -2.57863400e+00, -7.90110700e-02,  7.82688430e+00,  1.19234890e+01,
        4.48208240e+00,  2.61454820e+00, -1.27614840e+00, -3.21790530e+00,
       -3.47409270e+00, -3.50282400e+00, -1.85077440e+00, -1.15164610e+00,
        0.00000000e+00, -1.78373470e+00, -6.05990930e+00, -9.74230400e+00,
       -1.62403660e+01, -6.32806830e+00,  7.47732000e+00,  6.20117200e+00,
        7.49408000e-01,  5.74625950e-02, -6.99128270e-01,  1.31206260e+00,
        2.02316210e+00,  1.55627860e-01, -8.23630500e-01, -6.94339700e-01,
       -6.87156860e-01, -1.07263520e+00, -1.52754740e+00, -2.89707260e+00,
       -4.99445720e+00, -7.77660470e+00, -1.19067290e+01, -2.43976600e+00,
        1.16361760e+00, -2.06147050e+00, -1.95851680e+00, -1.68556950e+00,
        2.73905040e+00,  8.91388500e+00,  7.73350760e+00,  6.40947400e+00,
        1.57064430e+00, -2.70553050e-01, -1.67120390e+00, -2.13569300e+00,
       -1.92260270e+00, -1.77655200e+00, -1.29051410e+00, -1.43656490e-01,
       -1.00798960e+00, -4.35758000e+00, -8.43981800e+00, -1.57136260e+01,
       -2.83960990e+00, -1.99682520e+00,  2.10696170e+00,  2.97129500e+00,
        1.03672100e+00, -3.83083970e-02, -2.39427480e-02, -4.78855000e-03,
        4.98009150e-01,  1.18516600e+00,  7.25465240e-01, -7.51802270e-01,
       -1.19953170e+00, -1.51557600e+00, -3.40705300e+00, -7.04874500e+00,
       -6.61298700e+00, -5.42303230e+00, -1.44853630e+00, -2.32244660e-01,
       -5.60978600e+00, -3.42381290e+00,  2.03034500e+00,  2.99284360e+00,
        4.21392350e+00,  4.79333830e+00,  6.01441800e+00,  2.37751480e+00,
       -1.67599230e-01, -1.92020850e+00, -3.21790530e+00, -3.57944080e+00,
       -2.24582980e+00, -2.17400150e+00, -1.52036450e+00, -1.11573210e+00,
       -3.25621370e+00, -7.77899900e+00, -8.54277200e+00, -1.92499700e+00,
        6.29694300e-01,  5.84203060e-01, -2.38469770e+00, -2.03273940e+00,
        1.88668860e+00,  5.62654550e-01, -6.22990300e+00,  1.05348090e+00,
        5.81808800e-01,  1.12770340e+00,  1.01756680e+00,  2.27456110e-01,
       -8.81093140e-01, -1.98724810e+00, -3.48606420e+00, -8.22912200e+00,
       -8.12138000e+00, -6.22511430e-02, -1.92499700e+00, -1.09178940e+00,
       -1.54191300e+00, -1.61134700e+00,  2.73186760e+00,  7.01043650e+00,
        7.79097030e+00,  5.35838700e+00,  1.92978550e+00,  2.08062480e+00,
        1.96569970e+00,  1.14206910e+00,  7.68562200e-01,  1.38867940e-01,
       -2.29850380e-01, -2.77735900e-01,  3.47169850e-01,  4.50123670e-01,
        9.09824450e-02,  2.64327930e+00, -1.58740430e+00, -5.57147740e+00,
        2.60497100e+00,  3.90506220e+00, -1.14997015e+01, -1.96809390e+01,
       -8.28179600e+00, -7.25225830e+00, -6.35919400e+00, -4.53715100e+00,
       -2.83242700e+00, -1.26896560e+00, -4.33363740e-01, -5.74625970e-01,
       -9.02641600e-01, -1.29769700e+00, -2.57863400e+00, -4.10139270e+00,
       -3.50042990e+00, -1.31206260e+00,  4.07026700e-01, -1.03432670e+00,
       -8.16447730e-01,  3.51000700e+00,  5.13332500e+00,  3.50521830e+00,
        1.64965530e+00,  1.99203660e+00,  2.85397550e+00,  2.35357210e+00,
        1.86274580e+00, -2.99284340e-01, -2.91862100e+00, -4.00083300e+00,
       -3.92661070e+00, -2.45413160e+00, -4.76700100e+00, -6.10540060e+00,
       -5.54274600e+00, -5.79893350e+00, -6.34243400e+00, -7.08226500e+00,
       -8.54516700e+00, -3.67281750e+00,  1.71190640e+00,  7.39352100e+00,
        2.58581690e+00,  3.25621370e-01,  8.37996160e-02,  1.05348095e-01,
        4.47729380e-01,  5.81808800e-01,  1.19713740e-01, -2.99284340e-01,
       -6.29694300e-01, -1.57543280e+00, -2.37751480e+00, -4.37673430e+00,
       -7.87716400e+00, -8.22912200e+00, -3.00002620e+00, -4.54912220e-01,
       -9.64892750e-01, -3.22029970e+00, -2.35357210e+00,  9.74469840e-01,
        5.66724820e+00,  8.28179600e+00,  3.91463920e+00,  1.85316870e+00,
        8.71516050e-01, -1.28333130e+00, -2.84200430e+00, -3.10537430e+00,
       -3.11734580e+00, -2.29850390e+00, -1.10376070e+00, -1.45332480e+00,
       -2.18597300e+00, -4.54672770e+00, -8.39672200e+00, -1.57040480e+01,
       -6.73748900e+00,  4.68320130e+00,  5.94498440e+00,  3.01439200e+00,
        5.72231650e-01, -2.80130150e-01,  1.31206260e+00,  1.68078090e+00,
        1.01517250e+00,  1.08939500e+00,  6.44059900e-01, -9.43344300e-01,
       -2.07344200e+00, -2.75820450e+00, -2.87552400e+00, -5.98568730e+00,
       -9.19162100e+00, -7.17085300e+00, -3.34959050e+00,  7.35042400e-01,
       -1.71669510e+00, -3.02396920e+00, -1.77894620e+00, -7.44619500e-01,
        7.74308500e+00,  1.39442570e+01,  4.84601200e+00,  2.62651940e+00,
       -8.57150400e-01, -2.80609000e+00, -2.96890070e+00, -2.92340950e+00,
       -1.75021490e+00, -2.15245300e+00, -1.55149010e+00, -1.39107370e+00,
       -3.56268100e+00, -7.62337100e+00, -1.28692270e+01, -1.11932340e+01,
        1.40783360e+00,  5.60499700e+00,  2.05907630e+00, -1.74782070e-01,
        6.24905700e-01,  3.56746940e-01,  1.00798960e+00,  2.01358500e+00,
        1.57064430e+00,  5.74625970e-01, -5.65048900e-01, -1.02714380e+00,
       -1.44135340e+00, -2.35836080e+00, -4.13012400e+00, -7.58027400e+00,
       -8.45897300e+00, -3.32325340e+00,  6.41665640e-01, -1.60416410e+00,
       -2.62173080e+00, -1.41980490e+00, -1.43656490e+00,  2.88988970e+00,
        9.70639000e+00,  7.27380700e+00,  2.47807430e+00,  6.53637050e-01,
       -6.75185500e-01, -2.14527030e+00, -2.97129500e+00, -2.21470430e+00,
       -1.75500350e+00, -1.96330540e+00, -1.38867940e+00, -1.50360450e+00,
       -3.41902450e+00, -8.28898000e+00, -1.45907110e+01, -6.04314950e+00,
        5.94977300e+00,  6.86438600e+00,  1.68796370e+00, -3.61535500e-01,
       -8.11659160e-01,  5.00403460e-01,  1.72627210e+00,  1.29530260e+00,
        3.59141230e-02, -1.07024090e+00, -1.65444390e+00, -1.71669510e+00,
       -1.77655200e+00, -1.52994160e+00, -2.63609650e+00, -6.94818540e+00,
       -1.02067940e+01, -6.06469800e+00, -2.37751480e+00,  8.52361860e-01,
       -2.54750850e+00, -2.18836710e+00, -1.31445680e+00, -4.04632450e-01,
        4.02717000e+00,  1.03097480e+01,  7.84843300e+00,  2.62651940e+00,
        8.78698800e-01, -6.58425570e-01, -1.49642180e+00, -2.02316210e+00,
       -2.26737830e+00, -2.26498400e+00, -1.25938860e+00, -1.56106720e+00,
       -2.08541350e+00, -3.87872530e+00, -7.98490670e+00, -5.98329260e+00,
       -3.76140570e+00,  1.07742370e-01,  4.36476300e+00,  3.59380650e+00,
        1.58500990e+00,  1.84359160e+00,  1.76458050e+00,  1.99203660e+00,
        1.91781410e+00,  1.80767750e+00,  1.61613550e+00, -5.02797700e-02,
       -1.20671450e+00, -1.80528320e+00, -2.18597300e+00, -3.11734580e+00,
       -4.24026060e+00, -7.58985140e+00, -1.52754740e+00,  8.04476300e-01,
        1.31685110e+00,  2.84439850e+00,  1.83401450e+00,  2.56187400e-01])

In [36]:
x1 = df.x1.to_numpy()
x2 = df.x2.to_numpy()
x3 = df.x3.to_numpy()

In [39]:
x1_tran = window(x1)
x2_tran = window(x2)
x3_tran = window(x3)

In [40]:
print(len(x1_tran))
x1_tran

396

array([[-2.545114  ,  0.37350687,  5.9856873 ,  6.5986214 ,  4.6544704 ],
       [ 0.37350687,  5.9856873 ,  6.5986214 ,  4.6544704 ,  2.516383  ],
       [ 5.9856873 ,  6.5986214 ,  4.6544704 ,  2.516383  , -0.05027977],
       ...,
       [-7.5898514 , -1.5275474 ,  0.8044763 ,  1.3168511 ,  2.8443985 ],
       [-1.5275474 ,  0.8044763 ,  1.3168511 ,  2.8443985 ,  1.8340145 ],
       [ 0.8044763 ,  1.3168511 ,  2.8443985 ,  1.8340145 ,  0.2561874 ]])

In [18]:
len(window(x1))

396

In [29]:
x1_tran

array([[-2.545114  ,  0.37350687,  5.9856873 ,  6.5986214 ,  4.6544704 ],
       [ 0.37350687,  5.9856873 ,  6.5986214 ,  4.6544704 ,  2.516383  ],
       [ 5.9856873 ,  6.5986214 ,  4.6544704 ,  2.516383  , -0.05027977],
       ...,
       [-7.5898514 , -1.5275474 ,  0.8044763 ,  1.3168511 ,  2.8443985 ],
       [-1.5275474 ,  0.8044763 ,  1.3168511 ,  2.8443985 ,  1.8340145 ],
       [ 0.8044763 ,  1.3168511 ,  2.8443985 ,  1.8340145 ,  0.2561874 ]])

In [48]:
table1 = pd.DataFrame(data=x1_tran)
table2 = pd.DataFrame(data=x2_tran)
table3 = pd.DataFrame(data=x3_tran)

In [53]:
#making df_window
table = pd.concat([table1, table2, table3], axis=1)
table.columns = [i for i in range (15)]

In [54]:
table

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-2.545114,0.373507,5.985687,6.598621,4.654470,-14.061576,-12.481355,-16.091920,-14.880418,-11.147743,-1.620924,-2.643279,-5.964138,-6.706364,-2.413429
1,0.373507,5.985687,6.598621,4.654470,2.516383,-12.481355,-16.091920,-14.880418,-11.147743,-7.130150,-2.643279,-5.964138,-6.706364,-2.413429,-0.332804
2,5.985687,6.598621,4.654470,2.516383,-0.050280,-16.091920,-14.880418,-11.147743,-7.130150,-4.278569,-5.964138,-6.706364,-2.413429,-0.332804,-1.551490
3,6.598621,4.654470,2.516383,-0.050280,-0.940950,-14.880418,-11.147743,-7.130150,-4.278569,-3.150866,-6.706364,-2.413429,-0.332804,-1.551490,-3.589018
4,4.654470,2.516383,-0.050280,-0.940950,-1.836409,-11.147743,-7.130150,-4.278569,-3.150866,-2.013585,-2.413429,-0.332804,-1.551490,-3.589018,-4.077450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,-3.117346,-4.240261,-7.589851,-1.527547,0.804476,-3.840417,-3.845205,-7.130150,-17.011322,-20.942722,0.265765,-0.059857,-0.610540,-1.254600,-3.342408
392,-4.240261,-7.589851,-1.527547,0.804476,1.316851,-3.845205,-7.130150,-17.011322,-20.942722,-14.518883,-0.059857,-0.610540,-1.254600,-3.342408,-4.309695
393,-7.589851,-1.527547,0.804476,1.316851,2.844399,-7.130150,-17.011322,-20.942722,-14.518883,-12.213196,-0.610540,-1.254600,-3.342408,-4.309695,-3.828445
394,-1.527547,0.804476,1.316851,2.844399,1.834015,-17.011322,-20.942722,-14.518883,-12.213196,-12.045596,-1.254600,-3.342408,-4.309695,-3.828445,-2.865947
395,0.804476,1.316851,2.844399,1.834015,0.256187,-20.942722,-14.518883,-12.213196,-12.045596,-10.671283,-3.342408,-4.309695,-3.828445,-2.865947,-1.642472